.category {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    height: 80vh;

    &__title {
        margin-bottom: 50px;
        text-transform: uppercase;
        font-weight: 600;
    }

}