.icons {
    position: relative;
    color: #666;
    cursor: pointer;
    font-size: 20px;
    margin: 0 10px;

    &__number {
        position: absolute;
        background-color: pink;
        border-radius: 50%;
        width: 18px;
        height: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translate(15px, -25px);
        font-size: 15px;

    }
}

// .fa-ul {
//     margin-left: 0;
// }