.icons {
    position: relative;
    color: #666;
    cursor: pointer;
    font-size: 20px;
    margin: 0 10px;

    &__number {
        position: absolute;
        background-color: pink;
        border-radius: 50%;
        width: 19px;
        height: 19px;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translate(10px, -25px);
        text-align: center;

        &__txt {
            font-size: 10px;
        }
    }
}

// .fa-ul {
//     margin-left: 0;
// }