.titulo {
    font-size: 30px;
    font-weight: 900;
    text-align: center;
}

.cart__vacio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // transform: translateY(50%);
}

.cart {
    // text-align: center;

    &__cart {
        font-size: 40px;
        font-weight: 900;
        text-align: center;
    }

    &__titulos {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas: "img titulo cantidad precio eliminar";
        padding: 0 15px;
        border-bottom: 1px solid rgba(153, 153, 153, 0.295);

        &__text {
            text-align: center;
        }
    }


    &__detail {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas:
            "img titulo cantidad precio eliminar";
        margin: 10px 0;
        border-bottom: 1px solid rgba(153, 153, 153, 0.295);
    }

    &__img {
        grid-area: img;

        &-imagen {
            width: 30%;
            object-fit: cover;
            display: block;
        }
    }

    &__items {
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: capitalize;
    }

    &__item {
        grid-area: titulo;
    }

    &__cantidad {
        grid-area: cantidad;
    }

    &__precio {
        grid-area: precio;

        &::before {
            content: "$"
        }
    }

    &__eliminar {
        grid-area: eliminar;
        color: #999;
        font-weight: 100;
        margin-bottom: .5rem;
        cursor: pointer;

        &:hover {
            color: red;
        }
    }

    &__flechas {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #999;
        font-size: 10px;
        cursor: pointer;
        margin-bottom: .5rem;
        margin-left: 5px;

    }

    &__buyTotal {
        text-align: right;

        &__title {
            &--bold {
                font-size: larger;
                font-weight: 600;
            }
        }
    }
}