.listItem {
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: column;

    &__img {
        width: 250px;
        height: auto;
    }

    &__descrip {

        &__titulo {
            margin-bottom: 2px;
        }


        &__plusIcon {
            display: inline-block;
            font-size: 25px;
            color: #777;
            transform: translate(210px, -50px);
            cursor: pointer;
        }
    }
}