.checkout {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

    &__titulo {
        text-align: center;

        &--weight {
            font-weight: 600;
        }
    }
}