.checkout {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 50px;

    &__sections {
        display: flex;
        flex-direction: column;

        &--detalle {
            width: 60%;
        }

        &--pago,
        &--login {

            max-width: 500px;
        }

    }

    &__titulo {
        text-align: center;
        margin: 0px 0px 20px 0px;

        &--weight {
            font-weight: 600;
        }
    }
}

// .nocheckout__login__titulo {
//     text-align: center;
//     margin-top: 20px;
// }

// @media (min-width: 576px) {
//     .checkout {
//         display: flex;
//         flex-flow: column wrap;
//         // width: 100%;

//         &__sections {
//             display: flex;
//             flex-direction: column;
// width: 100%;

// &--detalle {
//     width: 100%;
// }

// &--pago,
// &--login {

//     max-width: 500px;
// // }

// }

// }
// }